<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [1]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (3.15.1)
Requirement already satisfied: ipython in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (9.0.1)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [2]:
import pandas as pd
import sqlite3

con = sqlite3.connect("../databases/FinalDB.db")
cur = con.cursor()

Load the SQL magic module

In [5]:
!pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (9.0.1)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [8]:
df_census_data = pd.read_csv("../data/ChicagoCensusData.csv")
df_census_data.to_sql(name='CENSUS_DATA', con=con, if_exists='replace')

df_chicago_public_schools = pd.read_csv("../data/ChicagoPublicSchools.csv")
df_chicago_public_schools.to_sql(name="PUBLIC_SCHOOLS", con=con, if_exists='replace')

df_chicago_crime_data = pd.read_csv("../data/ChicagoCrimeData.csv")
df_chicago_crime_data.to_sql(name='CRIME_DATA', con=con, if_exists='replace')

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [6]:
%sql sqlite:///FinalDB.db

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [48]:
%sql SELECT COUNT(*) FROM CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [49]:
%sql SELECT c.COMMUNITY_AREA_NAME, c.COMMUNITY_AREA_NUMBER FROM CENSUS_DATA c WHERE c.PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [52]:
%sql SELECT DISTINCT CASE_NUMBER FROM CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [50]:
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DATE, DESCRIPTION FROM CRIME_DATA WHERE LOWER(PRIMARY_TYPE) LIKE '%kidnapping%' AND LOWER(DESCRIPTION) LIKE '%child%'

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', '2007-01-26', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [20]:
%sql SELECT DISTINCT(PRIMARY_TYPE) FROM  CRIME_DATA \
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [32]:
%sql SELECT s.'Elementary, Middle, or High School', AVG(s.SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM PUBLIC_SCHOOLS s GROUP BY s.'Elementary, Middle, or High School';

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [51]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Edison Park',),
 ('Mount Greenwood',),
 ('Beverly',),
 ('Norwood Park',),
 ('North Center',)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [38]:
%sql SELECT c.COMMUNITY_AREA_NUMBER, c.COMMUNITY_AREA_NAME, COUNT(cr.id) AS 'Number Of Crime' FROM CENSUS_DATA c, CRIME_DATA cr \
WHERE c.COMMUNITY_AREA_NUMBER = cr.COMMUNITY_AREA_NUMBER GROUP BY c.COMMUNITY_AREA_NUMBER ORDER BY COUNT( c.COMMUNITY_AREA_NUMBER) DESC

 * sqlite:///FinalDB.db
Done.

[(25.0, 'Austin', 43),
 (23.0, 'Humboldt park', 22),
 (68.0, 'Englewood', 21),
 (29.0, 'North Lawndale', 16),
 (28.0, 'Near West Side', 16),
 (8.0, 'Near North Side', 15),
 (71.0, 'Auburn Gresham', 14),
 (24.0, 'West Town', 13),
 (67.0, 'West Englewood', 12),
 (66.0, 'Chicago Lawn', 12),
 (69.0, 'Greater Grand Crossing', 11),
 (49.0, 'Roseland', 11),
 (6.0, 'Lake View', 11),
 (61.0, 'New City', 10),
 (58.0, 'Brighton Park', 10),
 (26.0, 'West Garfield Park', 10),
 (46.0, 'South Chicago', 9),
 (43.0, 'South Shore', 9),
 (31.0, 'Lower West Side', 9),
 (22.0, 'Logan Square', 9),
 (70.0, 'Ashburn', 8),
 (44.0, 'Chatham', 8),
 (42.0, 'Woodlawn', 8),
 (38.0, 'Grand Boulevard', 8),
 (30.0, 'South Lawndale', 8),
 (27.0, 'East Garfield Park', 8),
 (19.0, 'Belmont Cragin', 8),
 (16.0, 'Irving Park', 8),
 (63.0, 'Gage Park', 7),
 (32.0, 'Loop', 7),
 (2.0, 'West Ridge', 7),
 (53.0, 'West Pullman', 6),
 (21.0, 'Avondale', 6),
 (1.0, 'Rogers Park', 6),
 (48.0, 'Calumet Heights', 5),
 (35.0, 'Douglas', 5),
 (15.0, 'Portage Park', 5),
 (14.0, 'Albany Park', 5),
 (7.0, 'Lincoln Park', 5),
 (76.0, "O'Hare", 4),
 (72.0, 'Beverly', 4),
 (62.0, 'West Elsdon', 4),
 (51.0, 'South Deering', 4),
 (45.0, 'Avalon Park', 4),
 (39.0, 'Kenwood', 4),
 (5.0, 'North Center', 4),
 (3.0, 'Uptown', 4),
 (73.0, 'Washington Height', 3),
 (65.0, 'West Lawn', 3),
 (50.0, 'Pullman', 3),
 (20.0, 'Hermosa', 3),
 (17.0, 'Dunning', 3),
 (10.0, 'Norwood Park', 3),
 (4.0, 'Lincoln Square', 3),
 (77.0, 'Edgewater', 2),
 (64.0, 'Clearing', 2),
 (59.0, 'McKinley Park', 2),
 (56.0, 'Garfield Ridge', 2),
 (54.0, 'Riverdale', 2),
 (52.0, 'East Side', 2),
 (41.0, 'Hyde Park', 2),
 (37.0, 'Fuller Park', 2),
 (18.0, 'Montclaire', 2),
 (11.0, 'Jefferson Park', 2),
 (75.0, 'Morgan Park', 1),
 (60.0, 'Bridgeport', 1),
 (55.0, 'Hegewisch', 1),
 (47.0, 'Burnside', 1),
 (33.0, 'Near South Side', 1),
 (12.0, 'Forest Glen', 1)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [41]:
%sql SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME FROM  CENSUS_DATA WHERE HARDSHIP_INDEX IN (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale')]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [47]:
%sql SELECT community_area_name FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CRIME_DATA \
    GROUP BY COMMUNITY_AREA_NUMBER \
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC \
    LIMIT 1) \
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>