In [4]:
import sqlite3
# Connecting to sqlite
# connection object
conn = sqlite3.connect('INSTRUCTOR.db')
# cursor object
cursor_obj = conn.cursor()

In [5]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [6]:
# Creating table
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL,
                                                  FNAME VARCHAR(20),
  LNAME VARCHAR(20),
  CITY VARCHAR(20),
  CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

In [7]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [8]:
cursor_obj.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

In [9]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [10]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [11]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

In [12]:
query_update='''update INSTRUCTOR set CITY='MOOSETOWN' where FNAME="Rav"'''
cursor_obj.execute(query_update)

In [13]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [17]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [18]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

In [19]:
df.shape

(3, 5)

In [20]:
# Close the connection
conn.close()

In [21]:
%whos

Variable        Type          Data/Info
---------------------------------------
conn            Connection    <sqlite3.Connection object at 0x00000283EF4F1A80>
cursor_obj      Cursor        <sqlite3.Cursor object at 0x00000283EF2842C0>
df              DataFrame        ID FNAME      LNAME   <...>asudevan    Chicago    US
fetch           tuple         n=1
output1         list          n=2
output_all      list          n=3
output_column   list          n=3
output_many     list          n=2
pd              module        <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
query_update    str           update INSTRUCTOR set CIT<...>SETOWN' where FNAME="Rav"
row             tuple         n=5
row_all         tuple         n=5
row_many        tuple         n=5
sqlite3         module        <module 'sqlite3' from 'C<...>b\\sqlite3\\__init__.py'>
statement       str           SELECT * FROM INSTRUCTOR
table           str            create table IF NOT EXIS<...>CHAR(20), CCODE CHAR(2));

In [22]:
%pwd
%ls

 Volume in drive C has no label.
 Volume Serial Number is 6AFD-466C

 Directory of C:\Users\tekin\projects\talk-to-web

2025-03-04  12:28    <DIR>          .
2025-02-26  18:39    <DIR>          ..
2025-02-12  22:03             3,591 .gitignore
2025-02-20  12:28    <DIR>          .idea
2025-03-04  12:14    <DIR>          .ipynb_checkpoints
2025-02-20  12:30    <DIR>          .venv
2025-03-03  20:02                16 GizemKalender_HW1.py
2025-03-03  23:05             2,126 hw.py
2025-03-03  22:32               557 if_else.py
2025-02-12  23:06               251 input_method.py
2025-03-04  12:23             8,192 INSTRUCTOR.db
2025-03-04  12:23             4,616 INSTRUCTOR.db-journal
2025-03-03  21:26               360 irmak_example.py
2025-02-12  23:00               795 learn_string_and_formatting.py
2025-02-12  21:06            11,558 LICENSE
2025-03-03  20:02               163 main.py
2025-03-03  23:01               752 my_Dict.py
2025-03-03  21:14               666 my_set.py
2025-03-03  22:07               452 my_set2.py
2025-02-12  21:06                68 README.md
2025-02-12  23:28               745 variables.py
2025-03-04  12:28             9,627 Week4_Insert_Update_SQLite.ipynb
              17 File(s)         44,535 bytes
               5 Dir(s)  800,490,475,520 bytes free

In [24]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.15.1-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (9.0.1)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.38-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Using cached sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\tekin\projects\talktoweb\course\pythonproject2\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.38-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 8.9 MB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.15.1-py3-none-any.whl (33 kB)
Using cached sqlparse-0.5.3-py3-none-any.whl (44 kB)
Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl (299 kB)
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-3.1.1 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.15.1 sqlalchemy-2.0.38 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.